plotly==6.0.0
streamlit==1.39.0
pandas==2.2.2
networkx==3.3
matplotlib==3.9.2
pillow==10.4.0
supabase==2.11.0
postgrest==0.19.1
python-dotenv==1.0.1
streamlit-vis-timeline==0.3.0
pyvis==0.3.2
beautifulsoup4==4.12.3
openai==1.59.7
pydantic==2.9.2
pymupdf==1.24.10
st-annotated-text
glob